.booking-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-row-gap: .3rem;
}

.card-container {
  margin: 70px;
}

.header-container {
  text-align: center;
}

.today-card-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.today-card-grid {
  display: flex;
  justify-content: center;
}
