.bookings-bg {
  background: linear-gradient(#000125, #B3C4FF);;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-color: black;
  overflow-y: auto;
}

.bookings-new-container {
  margin: auto;
}
.bookings-show-container {
  max-width: 600px;
  margin: auto;
}

.bookings-new-card {
  display: flex;
  background: #f8f8f8;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
  margin-top: 90px;
  border-radius: 4px;
  margin-bottom: 100px;
}

.bookings-show-card {
  display: flex;
  background: #f8f8f8;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
  margin-top: 85px;
  border-radius: 4px;
  margin-bottom: 100px;
  h1 {
    font-family: 'Calistoga';
    text-align: center;
    margin-top: 20px;
  }
}

.bookings-show-subhead {
  margin-top: 10px;
  padding-left: 30px;
  width: 100%;
  margin-bottom: 15px;
  p {
    line-height: 1.3em;
    margin-bottom: 4px;
  }
  span {
    font-weight: bolder;
  }
  h3 {
    text-align: center;
    font-family: sans-serif;
    line-height: .8em;
  }
  @media (max-width: 376px) {
    padding-left: 0px;
    line-height: 1em;
    h3 {
      font-size: 20px;
    }
  }
}

.bookings-show-detail {
  padding-top: 20px;
  img {
    @media (max-width: 376px) {
      margin-left: 0px;
    }
    margin-left: 15px;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
  }
}

.booking-action-container {
  display: flex;
  justify-content: center;
  width: 100%;
    @media (max-width: 376px) {
      margin-left: 20px;
    }
}

.bookings-show-actions {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 25px;
  a {
    text-decoration: none;
    color: black;

  }
}

.bookings-new-detail {
  padding-right: 0;
  padding: 50px;
  h1 {
    font-family: 'Calistoga';
  }
}


.bookings-new-sunset-title {
    text-align: center;
    padding-top: 30px;
    padding-right: 50px;
    margin-bottom: 40px;
  img {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
  }
  h5 {
    font-weight: bold;
    margin-bottom: 0px;
  }
  p {
    margin-bottom: 0px;
  }

}

.bookings-new-sunset-details {
  margin-top: 10px;
    @media (max-width: 376px) {
      margin-top: 10px;
      margin-bottom: 10px;
    }
}

.bookings-show-sunset-detail {
  padding-top: 20px;
  padding-right: 20px;
  line-height: .7em;
  text-align: center;
  h5 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  @media (max-width: 376px) {
    padding-top: 0px;
  }
}
