.body-container {
  display: flex;
  align-items: flex-start;
  margin: 20px;
}
.places-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70vw;
  grid-gap: 10px;

}

.places-card {
  max-height: 200px;
}

.card-img {
  height: 200px;

}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &:hover {
    opacity: .8;
   background: rgba(255, 255, 255, .2);
   color: rgba(255, 255, 255, 1);

  }
 }

 .card {

  img {
    object-fit: cover;
    height: 230px;
  }

  &:hover {
    opacity: .8;

  }

 }

 .map-container {
  margin-left: 15px;
 }

 #map {
  position: sticky;
  top: 100px;
 }


