.sunset-bg {
  background: linear-gradient(#ffffc1, #ffd2a5, #d38cab, #8a79af);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-color: black;
  overflow-y: auto;
}

.sunset-choose-title h3 {
  text-align: center;
  font-size: 40px;
  color: black;
  font-weight: bold;
  // text-shadow: 1px 1px 4px white;
  margin-bottom: 25px;
  margin-top: 30px;
  padding-top: 25px;
  font-family: 'Calistoga';
}

.sunset-container {
  max-width: 550px;
  margin: auto;
  a {
    color: black;
    text-decoration: none;
  }
}

.sunset-card {
  display: flex;
  height: 140px;
  background: #f8f8f8;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  border-radius: 6px;
  &:hover {
    background: lightgray;
  }
}

.sunset-card img {
  margin-top: 20px;
  max-height: 100px;
  object-fit: cover;
  padding: 15px;
}

.sunset-card-title h2 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
}

.sunset-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.sunset-card-sunset {
  min-width: 200px;
}

.no-upcoming-sunsets {
  text-align: center;
}
