.sunset-bg {
  background-image: asset-url('sunset_blur.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.sunset-choose-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 1px 3px black;
  margin-bottom: 30px;
  padding-top: 30px;
}

.sunset-container {
  max-width: 550px;
  margin: auto;
  a {
    color: black;
    text-decoration: none;
  }
}

.sunset-card {
  display: flex;
  height: 140px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  border-radius: 6px;
  &:hover {
    background: lightgray;
  }
}

.sunset-card img {
  margin-top: 20px;
  max-height: 100px;
  object-fit: cover;
  padding: 15px;
  }

.sunset-card-title h2 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
}

.sunset-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.sunset-card-sunset {
  min-width: 200px;
}

.sunset-card-weather {
}
