
<button type="button" class="btn send-button" id= "init-form-button" data-target="#messageModal" data-toggle="modal" style="margin-bottom: 10px">Accept Invitation</button>



<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <!--   <h5 class="modal-title" id="messageModalLabel">Please Input A Phone Number</h5> -->
      </div>
      <div class="modal-body">
        <%= render 'new_guest_form', booking: booking, guest: guest %>
        <button type="button" class="btn btn-secondary" style="display: none" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>



