<button type="button" class="btn send-button" id= "init-form-button" data-target="#messageModal" data-toggle="modal" style="margin-bottom: 10px">Share Plan via SMS</button>

<p><%= link_to 'Or Back to All Sunset Plans', bookings_path %></p>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="messageModalLabel">Please Input A Phone Number</h5>
      </div>
      <div class="modal-body">
        <%= form_tag booking_path(@booking) , method: :get do |f| %>
          <%= number_field_tag 'number' %>
      </div>
      <div class="footer">
        <%= submit_tag "Send Message", class: 'btn btn-primary send-button', id: 'share-plan'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
