<div class="landing-bg">
<video id="videoBG" poster="assets/poster.jpg" autoplay muted loop>
  <source src="assets/footage1.mp4" type="video/mp4">
</video>
  <div class="landing-overlap">
  <div class="landing-container">
    <div class="container search-container">
      <div class="landing-title">
        <h1 style="font-family: Calistoga">Sunsetter</h1>
      </div>
      <div class="landing-subtitle">
        <h3>The sun sets once in a day-</h3>
        <h3>make the most of the moment.</h3>
      </div>
      <div class="row">
        <div class="col-8">
          <div class="landing-city-input">
            <%= form_tag sunsets_path, method: :get do %>
            <%= text_field_tag :city,
            params[:city],
            class: "form-control",
              placeholder: "Enter Your City"
              %>
            </div>
          </div>
          <div class="col-4">
            <div class="landing-form-action">
              <%= submit_tag "Begin", class: "btn btn-dark" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
