.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: white;

  img {
    height: 33px;
    margin-left: 15px;
  }

  h6 {
    margin: 0;
    padding: 0;
  }

  a {
    color: black;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
}

.fixed-top {
  opacity: 1;
  background: white;
  z-index: 2000000;
}

.fixed-top.scrolled {
  opacity: .8;
  transition: background-color 200ms linear;

  a {
    color: black;
  }

  .icon {
    color: #6B6B6B;
  }

  .navbar-toggler {
    background-color: #6B6B6B;
    opacity: .4;
  }

  .navbar-toggler-icon {
    width: 15px;
    height: 15px;
    padding: 0;
  }

}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    opacity: .8;
  }
}

#shopping-cart {
  font-size: 1em;
}

.icon.nav-link {
  padding: 0;
}

.navbar h6 {
  font-family: $headers-font;
}

.sign-in-icons {
  display: flex;
  i {
  color: #f3913e;
  }
}

.dropdown-item {
  color: #f3913e;
  line-height: 1.5;
  // text-align: left;
  span {
    font-family: sans-serif;
    margin-bottom: 5px;
  }
}

.dropdown-toggle {
  color: #f3913e;
  span {
    font-family: sans-serif;
  }
}

.nav-item:hover {
  cursor: pointer;
  opacity: .8;
}


.nav-link span {
  font-family: sans-serif;
}

.nav-item span {
  font-family: sans-serif;
}

.dropdown-menu a {
  text-align: right;
  margin-right: 0px;
  padding-right: 0px;

  &:hover {
    cursor: pointer;
  }
}
