<div class="carousel-container">
    <div class="carousel">
        <input type="radio" id="carousel-1" name="carousel[]" checked>
        <input type="radio" id="carousel-2" name="carousel[]">
     <input type="radio" id="carousel-3" name="carousel[]">
        <ul class="carousel__items">
            <li class="carousel__item"><img src="<%= @place.image %>" alt=""></li>
            <% @place.reviews.each do |review| %>
            <li class="carousel__item"><img src="<%= review.image %>" alt=""></li>
          <% end %>
        </ul>
     <div class="carousel__prev">
        <label for="carousel-1"></label>
        <label for="carousel-2"></label>
        <label for="carousel-3"></label>
     </div>
     <div class="carousel__next">
       <label for="carousel-1"></label>
       <label for="carousel-2"></label>
       <label for="carousel-3"></label>
     </div>
     <div class="carousel__nav">
       <label for="carousel-1"></label>
       <label for="carousel-2"></label>
       <label for="carousel-3"></label>
     </div>
   </div>
 </div>
